@import '../../media';

/* site header element */
.site-header {
	margin: 0;
	display: grid;
	grid-template-columns: 1fr;

	@include tablet-side {
		grid-template-columns: 300px 1fr;
	}

	h1 {
		line-height: 4rem;
	}
}
