/* site footer element */
.site-footer {
	margin: 0;
	padding: 1rem;
	background: #333;
	color: #777;

	@include tablet-side {
		padding: 2rem;

		.inner {
			max-width: 1120px;
			margin: 0 auto;
		}
	}
}
