$nav-search-background: #ddd;
$nav-search-color: #333;
$nav-search-placeholder: #aaa;
$nav-search-border-radius: 1.25rem;
$nav-search-submit-background: #e3c8ff;

@import "../media";

/* admin bar adjustments */
@include mobile {
	.admin-bar {

		.site-navigation-search {
			position: absolute;
			top: 0;
			top: 46px;
			right: 4.5rem;
		}
	}
}

.site-navigation-search {
	margin: 0.75rem 0;
	background: $nav-search-background;
	border-radius: $nav-search-border-radius;
	width: 2.5rem;
	line-height: 1.5rem;
	overflow: hidden;

	display: grid;
	grid-template-columns: 2.5rem 1fr;

	transition: all 250ms ease-in;

	button {
		border-radius: $nav-search-border-radius;
		background: none;
		border: 0;
		outline: 0;
		cursor: pointer;
	}

	form {
		display: flex;

		input {
			background: none;
			border: 0;
			outline: 0;
		}

		input[type="text"] {
			flex-grow: 1;
		}

		input[type="submit"] {
			background: $nav-search-submit-background;
			border-top-right-radius: $nav-search-border-radius;
			border-bottom-right-radius: $nav-search-border-radius;
			padding: 0 1rem;
		}
	}

	&[data-show-search="true"] {
		width: 100%;
	}
}
