/* all screens */
.site-navigation-search {
  display: flex;
  align-items: center;

  button {
    display: inline-block;
    border-radius: 2.5rem;
    width: 2.5rem;
    height: 2.5rem;
    border: 0;
    margin: 0;
    padding: 0;
    outline: 0;
    color: #333;
    cursor: pointer;
    background: #efefef;

    &[data-show-search="true"] {
      background: #1474b4;
      color: #fff;
		}
  }
}

.site-navigation-search-box {
  position: absolute;
  width: 100vw;
  background: #1474b4;
  padding: 2rem;
  color: #fff;
  position: absolute;
  left: 0;
  box-sizing: border-box;
  display: none;
  transition: ease-in-out 350ms all;

  &[data-show-search="true"] {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .content {

    @include tablet-up {
      width: 520px;
      margin: 0 auto;
    }

    @include tablet-side {
      width: 720px;
    }

  }
  
  @include tablet-up {

  }

  @include tablet-side {
    top: 169px;
    height: 69vh;
  }
}

