@import '../media';
@import '../branding';

/* site header element */
.site-header {
	margin: 0;
	padding: 0;
	display: grid;
	grid-template-columns: 1fr;
	background: $nav-background;

	h1 {
		font-size: 1.5rem;
		margin: 0 0 0 1rem;
		padding: 0;
		line-height: 4rem;
		color: $nav-color;

		a {
			color: $nav-color;
			text-decoration: none;
		}
	}

	@include tablet-side {
		grid-template-columns: 1fr 6fr 2fr;
		padding: 0 2rem;

		h1 {
			margin: 0;
		}
	}
}
