/* site header element */
.site-header {
	margin: 0;
	padding: 0;
	display: grid;
	grid-template-columns: 1fr;
	background: $nav-background;

	.custom-logo-link {

		img {
			width: 100%;
			height: auto;
			vertical-align: middle;
		}
	}

	.site-title,
	.site-description {
		display: none;
	}

	@include tablet-up {
		line-height: $header-line-height-tablet;
	}

	@include tablet-side {
		line-height: $header-line-height-tablet;
		grid-template-columns: 245px 1fr;
		padding: 0 2rem;

		h1 {
			margin: 0;
		}
	}

	@include desktop {
		line-height: $header-line-height-desktop;
	}
}
