$background: #ddd;
$background-hover: #ccc;
$color: #999;

@include mobile {
	.social-menu {
		display: none;
	}
}

@include tablet-side {
	.social-menu {

	}
}

/** social menu */
.social-menu {

	ul.social-menu-links {
		list-style: none;
		padding: 0;
		margin: 0;
		float: right;

		@include tablet-side {
			line-height: $header-line-height-tablet;
			padding-left: 1.5rem;
		}

		li.social-icon {
			margin: 0 0.25rem;
			display: inline-block;
			text-align: center;

			a {
				display: block;
				width: 2.5rem;
				height: 2.5rem;
				line-height: 2.5rem;
				background: $background;
				color: $color;
				border-radius: 2.5rem;
				text-decoration: none;
				transition: background-color 85ms ease-in;

				&:hover {
					background: darken($background, 3%);
				}

				i {
					font-style: normal;
				}
			}
		}
	}
}
