@import '../branding';
@import '../media';

/* admin bar adjustments */
.admin-bar {

	.site-navigation {

		.nav-mobile {
			top: 46px;
		}
	}
}

/* site navigation alignment */
.site-navigation {
	width: 100%;

	.secondary-nav {
		display: grid;
		grid-template-columns: 1fr 1fr;
	}
}

/* hamburger menu button */
@include mobile {
	.nav-mobile {
		position: absolute;
		top: 0;
		right: 10px;
		background: $nav-background;
		height: $nav-height;
		width: $nav-height;

		.nav-toggle {
			position: absolute;
			left: 18px;
			top: 18px;
			cursor: pointer;
			padding: 10px 35px 16px 0px;

			span,
			span:before,
			span:after {
				cursor: pointer;
				border-radius: 1px;
				height: 5px;
				width: 35px;
				background: $nav-color;
				position: absolute;
				display: block;
				content: '';
				transition: all 300ms ease-in-out;
			}
			span:before {
				top: -10px;
			}
			span:after {
				bottom: -10px;
			}
			&.active span {
				background-color: transparent;

				&:before,
				&:after {
					top: 0;
				}
				&:before {
					transform: rotate(45deg);
				}
				&:after {
					transform: rotate(-45deg);
				}
			}
		}
	}
}

/* global nav menu styles */
ul.primary-menu {
	display: none;
	list-style: none;
	margin: 0;
	padding: 0;

	li {

		&.current-menu-item a,
		&.current-menu-parent a {
			background: $nav-mobile-hover-background;
			color: $nav-mobile-hover-color;
		}

		/* show submenus */
		.has-sub-menu[data-submenu-open="true"] {
			&+ul.sub-menu {
				transition: opacity 85ms linear;
				transform:translate(0);
				opacity: 1;
				height: auto;
			}
			&.level-1+ul.sub-menu {
				position: static;
			}
		}

		/* hide submenus */
		.has-sub-menu[data-submenu-open="false"] {
			&+ul.sub-menu {
				transform:translate(9999px);
				opacity: 0;
				height: 0;
			}
		}

		a:hover,
		&.current-menu-item [data-submenu-open="true"],
		&.current-menu-parent [data-submenu-open="true"],
		[data-submenu-open="true"] {
			background: $nav-mobile-open-background;
			color: $nav-mobile-open-color;
		}

		a {
			display: block;
			padding: 0 1rem;
			line-height: $nav-height;
			background: $nav-mobile-background;
			color: $nav-mobile-color;
			text-decoration: none;

			&.has-sub-menu:after {
				padding-left: 1rem;
				content: ' \25BE';
			}
		}

		/* level-1 */
		ul {

			list-style: none;
			padding: 0;
			margin: 0;

			li {

				a {
					padding: 0.75rem 1rem;
					line-height: 1;
				}

				/* level-2 */
				ul {

					li {

						a {
							padding-left: 2rem;
							display: block;
						}
					}
				}
			}
		}
	}
}

/* toggle for .primary-menu using js */
@include mobile {
	.site-navigation {

		.primary-menu.active {
			display: block;

			ul {
				display: block;
			}
		}
	}
}

/* nav menu styles for table in portrait mode and larger */
@include tablet-side {
	.site-navigation {

		ul {
			display: block;

			li {
				float: left;
				position: relative;

				a {
					background: $nav-background;
					color: $nav-color;
				}

				&.current-menu-item a,
				&.current-menu-parent a {
					background: $nav-hover-background;
					color: $nav-hover-color;
				}

				a:hover,
				&.current-menu-item [data-submenu-open="true"],
				&.current-menu-parent [data-submenu-open="true"],
				[data-submenu-open="true"] {
					background: $nav-open-background;
					color: $nav-open-color;
				}

				ul {
					position: absolute;
					z-index: 1;
					box-shadow: 0 3px 12px rgba(0,0,0,0.15);

					li {
						min-width: 190px;

					}
				}
			}
		}
	}
}
