/* branding mixins */

/* text colors */
$text-color: #222;
$link-color: #00b6f7;

/* nav vars */
$nav-height: 4rem;
$nav-background: #efefef;
$nav-hover-background: #f7f7f7;
$nav-color: #333;
$nav-hover-color: #111;
