/* branding mixins */

/* text colors */
$text-color: #222;
$link-color: #00b6f7;

/* menu colors */
$primary-menu-background: none;
$primary-menu-background-hover: #efefef;
$primary-menu-link: #00b6f7;
