/* branding mixins */

/* text colors */
$text-color: #222;
$link-color: #00b6f7;

/* nav vars */
$nav-height: 4rem;
$nav-background: #333;
$nav-hover-background: #444;
$nav-color: #ccc;
$nav-hover-color: #fff;
