@import './branding';
@import './media';

/* html, body */
html,
body {
	background: #333;
}

/* .site-content */
.site-content {
	background: #fff;
	padding: 1rem;

	@include tablet-side {
		padding: 2rem 0 4rem;
	}
}

/* .site-main elements */
.site-main {

	@include tablet-side {

	}
}

/* accessibility */
.screen-reader-text {
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
	word-wrap: normal !important;

	&:focus {
		background-color: #eee;
		clip: auto !important;
		clip-path: none;
		color: #444;
		display: block;
		font-size: 1em;
		height: auto;
		left: 5px;
		line-height: normal;
		padding: 15px 23px 14px;
		text-decoration: none;
		top: 5px;
		width: auto;
		z-index: 100000; /* Above WP toolbar. */
	}
}

.skip-link {
	background-color: #f1f1f1;
	box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.2);
	color: #21759b;
	display: block;
	font-family: Montserrat, "Helvetica Neue", sans-serif;
	font-size: 14px;
	font-weight: 700;
	left: -9999em;
	outline: none;
	padding: 15px 23px 14px;
	text-decoration: none;
	text-transform: none;
	top: -9999em;

	&:focus {
		clip: auto;
		height: auto;
		left: 6px;
		top: 7px;
		width: auto;
		z-index: 100000;
	}
}
