@import './branding';
@import './media';

/* html, body */
html,
body {
	background: #333;
}

/* admin related */
.post-edit-link {
	background: #efefef;
	color: #888;
	border-radius: 5px;
	padding: 0.5rem 1rem;
	margin-top: 1rem;
	text-decoration: none;
	display: inline-block;
	transition: all 85ms ease-in;

	&:hover {
		background: #ddd;
		color: #444;
	}
}

/* .site-content */
.site-content {
	background: #fff;
	padding: 1rem;

	@include tablet-side {
		padding: 2rem 0 4rem;
	}
}

/* .site-main elements */
.site-main {

	@include tablet-side {

	}
}

/* post and page layouts */
.page-template,
.single-post,
.blog {

	.site-content-wrapper {
		grid-column-gap: 9rem;
	}
}

.page-template-default,
.post-template-default,
.blog {

	.site-content-wrapper {
		width: 1120px;
		margin: 0 auto;
	}
}

.page-template-page-left-sidebar {

	.site-content-wrapper {
		max-width: 1120px;
		margin: 0 auto;
		display: grid;
		grid-template-columns: 1fr;

		@include tablet-side {
			grid-template-columns: 1fr 3fr;

			.site-main {
				grid-column: 2;
				grid-row: 1;
			}

			.secondary {
				grid-column: 1;
				grid-row: 1;
			}
		}
	}
}

/* sidebar layouts */
.page-template-page-right-sidebar,
.single-post,
.blog {

	.site-content-wrapper {
		max-width: 1120px;
		margin: 0 auto;
		display: grid;
		grid-template-columns: 1fr;

		@include tablet-side {
			grid-template-columns: 3fr 1fr;
		}
	}
}
